[user]
	name = Byanew23
	email = borislav.yanev23@gmail.com
	signingkey = 3D9BFA4508991B2A
[core]
	editor = vim
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
